@use './partials/global' as *;
@use './partials/colors';
@use './partials/mixins';
@use './partials/animations';


.hero {
    background-color: colors.$nitro-pink;
    padding: 1.25rem 3rem;

    &__text {
        @include mixins.hero-display;
        padding: 5rem;
    }

    &__image {
        @include mixins.hero-display;
        text-align: right;
    }

    &__coffee-source {
        width: 80%;
        text-align: left;
        padding-bottom: 2.5rem;
    }
}

.button-color {
    min-width: 14rem;
    max-width: 15rem;
    min-height: 4rem;
    max-height: 5rem;
    background-color: colors.$nitro-blue;
    position: absolute;

    &__learn {
        width: 95%;
    }
}

.button-container {
    min-width: 14rem;
    max-width: 15rem;
    min-height: 4rem;
    max-height: 5rem;
    position: relative;

    &--view {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3rem auto 1.25rem auto;
    }

    &--learn {
        margin-top: 3rem;
    }
}

.button-text {
    font-size: 1.3rem;
    font-weight: 400;
    color: colors.$white;
    padding: 1rem 3rem;
    text-transform: uppercase;
    min-width: 14rem;
    max-width: 15rem;
    min-height: 4rem;
    max-height: 5rem;
    border: 2px solid colors.$graphite;
    position: absolute;
    top: -0.3rem;
    left: -0.3rem;
    transition: transform;

    &:active {
        transform: translate(0.3rem, 0.3rem);
    }
}

.products {
    @include mixins.display-center;
    flex-wrap: wrap;

    &__card {
        @include mixins.display-space;
        flex-direction: column;
        vertical-align: bottom;
        text-align: center;
        background-color: colors.$white;
        min-width: 22rem;
        max-width: 25rem;
        min-height: 27.5rem;
        max-height: 28.8rem;
        padding-top: 1rem;
        margin: 2rem;
        border-radius: 0.6rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0 5px 5px;
    }

    &__card-image {
        margin-top: 0;
    }

    &__card-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: colors.$nitro-pink;
        border-bottom-left-radius: 0.6rem;
        border-bottom-right-radius: 0.6rem;
        padding: 2.5rem 1.5rem;
    }

    &__card-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__card-price {
        color: colors.$nitro-blue;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 0;                                                  
    }
}

.main {
    text-align: center;
    background-color: colors.$light-gray;
    padding: 3rem 5rem;

    &-name {
        width: 100%;
    }

    &-details {
        color: colors.$gray;
    }

    &-image {
        min-height: 15rem;
        max-height: 34rem;
    }
}

.discount {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 7rem 5rem 0rem 5rem;

    &__image-container {
        width: 35%;
        position: relative;
    }

    &__image {
        display: flex;
        justify-content: center;
        padding: 5rem 0;
        background-image: url('../assets/images/coldbrewbackground.png');
        background-position: center;
        background-size: cover;

        &:hover {
            @include mixins.spin-can;
        }
    }

    &__border {
        width: 100%;
        height: 100%;
        border: 5px solid colors.$nitro-blue;
        position: absolute;
        top: -1rem;
        left: -1rem;
    }
}

.source {
    @include mixins.display-space;
    width: 90%;

    &__information {
        width: 50%;
    }

    &__description {
        margin: 1rem 0 3rem 0;
        width: 80%;
    }

    &__images {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }
}

.promo {
    color: colors.$white;
    background-color: colors.$graphite;
    font-size: 2.8rem;
    font-weight: 400;
    min-width: 90%;
    max-width: 100%;
    text-align: center;
    padding: 2.5rem;
    margin: 10rem;
    animation: flash 2.5s linear infinite;

    &__code {
        font-weight: 700;
    }
}

.footer {
    background-color: colors.$nitro-pink;
    display: flex;
    justify-content: center;
    padding: 0 6.5rem;
    position: relative;

    &__heading-size {
        margin: 1.25rem 1.25rem 1.25rem 0;
        font-weight: 400;
    }

    &__heading-information {
        display: inline-block;
        padding: 2.5rem;
        margin-right: 3rem;
    }

    &__days {
        font-weight: 700;
    }

    &__social {
        margin-bottom: 2.2rem;
    }
}
