@use './partials/global' as *;
@use './partials/colors';


.hero {
    background-image: url('../assets/images/coffee-circle.jpg');
    background-position: center;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    min-width: 20%;
    max-width: 20%;
    min-height: 35%;
    max-height: 40%;
    color: colors.$white;
    background-color: colors.$graphite;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.sub-nav-link {
    margin-top: 0.5rem;
}

.sub-nav-link a {
    color: colors.$white;
    border-left: 4px solid colors.$nitro-blue;
    padding: 0 0 0 2rem;
    text-transform: uppercase;
}

.options {
    background-color: colors.$graphite;
    min-height: 3.75rem;
    max-height: 5rem;
    padding: 1.25rem
}

.one,
.two,
.three,
.menu,
.options {
    text-align: center;
}

.one, 
.three {
    background-color: colors.$nitro-pink;
}

.two {
    background-color: colors.$light-gray;
}

.description {
    width: 35%;
    text-align: center;
    font-style: italic;
    margin: auto;
}

.price {
    color: colors.$nitro-blue;
    padding-bottom: 2rem;
    margin-bottom: 0;
}
