@use 'colors';
@use 'mixins';


* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
    font-weight: 400;
    margin: 0;
}

.site-header {
    background-color: colors.$nitro-pink;
    margin-top: 0;
    margin-bottom: 0;
}

.main-nav {
    @include mixins.display-space;

    &__logo-brand {
        @include mixins.display-center;
    }

    &__link {
        display: flex;
    }

    &__list {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        margin-top: 1rem;
        margin-bottom: 0;
    }

    &__shop-now {
        color: colors.$nitro-blue;
    }

    &__brand {
        font-size: 3rem;
        font-weight: 300;
        margin-right: 1.25rem;
        padding: 0;
        margin-top: 1rem;
        margin-bottom: 0;
    }
}

.logo {
    min-width: 3.1rem;
    max-width: 7.5rem;

    &--discount {
        width: 2rem;
        height: 3rem;
    }

    &--one {
        width: 7.5rem;
        position: absolute;
        top: 1rem;
        left: -2rem;
        opacity: 0.25;
    }
    
    &--two {
        width: 7.5rem;
        position: absolute;
        bottom: 1rem;
        right: -2rem;
        opacity: 0.25;
    }
}

li {
    list-style-type: none;
    display: inline;
    padding: 0 1.25rem;
}

a {
    text-decoration: none;
    color: #000000;
}

nav {
    font-size: 1.3rem;
    font-weight: 400;
    margin-left: 1.25rem;
}

p {
    font-size: 1.2rem;
    font-weight: 400;
}

h1,
h2 {
    font-size: 3.75rem;
    font-weight: 300;
    padding: 1.25rem 0;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-size: 2.1rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
}
