@mixin display-space {
    display: flex;
    justify-content: space-between;
}

@mixin display-center {
    display: flex;
    justify-content: center;
}

@mixin hero-display {
    display: inline-block;
    vertical-align: middle;
    width: 45%;
}

@mixin spin-can {
    .discount__tilted-can {
        animation: spin 2s linear infinite;
    }
}
